@import url(https://fonts.googleapis.com/css?family=Roboto:100);

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
}

h1 {
  font: 2em 'Roboto', sans-serif;
  margin-bottom: 40px;
}

.prev-next {
  background: #fc5000;
  border-radius: 50px;
  color: white;
  font: 500 1.6rem/1.7rem 'Montserrat';
  height: 45px;
  max-width: 160px;
  width: 100%;
}

.prev-next:hover {
    background: white;
    border: 1px solid #fc5000;
    color: #fc5000;
}

#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
